<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">

    <testsuites>
        <testsuite name="All">
            <directory>./tests</directory>
        </testsuite>
        <!--<testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
            <exclude>./tests/Feature/Sample</exclude>
        </testsuite>-->
    </testsuites>

    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>

    <coverage>
        <!-- <report>
            <clover outputFile="storage/phpunit/clover.xml" />
            <cobertura outputFile="storage/phpunit/cobertura.xml" />
            <crap4j outputFile="storage/phpunit/crap4j.xml" threshold="50" />
            <html outputDirectory="storage/phpunit/html" lowUpperBound="50" highLowerBound="90" />
            <php outputFile="storage/phpunit/coverage.php" />
            <text outputFile="storage/phpunit/coverage.txt" showUncoveredFiles="false" showOnlySummary="true" />
            <xml outputDirectory="storage/phpunit/xml" />
        </report> -->
    </coverage>

    <!-- <logging>
        <junit outputFile="storage/phpunit/log.junit.xml" />
        <teamcity outputFile="storage/phpunit/log.teamcity.txt" />
        <testdoxHtml outputFile="storage/phpunit/log.testdox.html" />
        <textdoxText outputFile="storage/phpunit/log.testdox.txt" />
    </logging> -->

    <php>
        <server name="APP_ENV" value="testing" />
        <env name="APP_KEY" value="base64:WypzMLip0qyqhz4esOYwZItjKa2R5OJ+Nm1UBvtbH2w=" />
        <env name="TEST_CLEAR_AT_SETUP" value="true" />
        <env name="TEST_CLEAR_AT_TEARDOWN" value="true" />
    </php>
</phpunit>